body {
	margin: 0;
	font-family: 'Smythe', cursive;
	color: #000;
	user-select: none;
}

header {
	color: #fff;
	background: url('./img/hero.png');
	height: 166px;
}

.add-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('./img/ellipse.png');
	background-size: 50px 50px;
}

.add-btn:hover {
	cursor: pointer;
}

.add-btn p {
	color: #3c3c3c;
	text-align: center;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 200;
	line-height: 24px;
}

header h1 {
	font-size: 39px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	margin-top: 50px;
}

header p {
	font-size: 22.422px;
	line-height: 13.798px;
}

.main {
	width: 600px;
	height: 1300px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 20 auto;
	border: solid 4px #000;
	border-radius: 16px;
}

.container {
	margin: 0 46px;
}

.hero-img {
	width: 100%;
}

.menu-element {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.menu-item {
	padding: 30px 0;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 31px;
	border-bottom: solid #d2d2d2 1px;
}

.menu-item-details {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.menu-item-title {
	font-size: 28px;
	line-height: 16.8px;
	margin-bottom: 8px;
}

.menu-item-ingredients {
	font-size: 16px;
	color: #8b8b8b;
	line-height: 24px;
	margin-top: 2px;
	margin-bottom: 10px;
}

.menu-item-price {
	font-size: 20px;
	line-height: 24px;
	margin-top: 4px;
}

.align-right {
	margin: auto 0 auto auto;
}

.order-element {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2px;
}

.order-header {
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
}

.order-row {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 45px;
	margin: 0 0;
	padding: 0 0;
}

.order-item-title {
	font-size: 28px;
	line-height: 16.8px;
}

.order-item-remove {
	color: #bbb;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-left: 12px;
	margin-bottom: 8px;
}

.order-price {
	margin: auto 0 auto auto;
	font-size: 20px;
	line-height: 24px;
}

.order-total-row {
	display: flex;
	justify-content: start;
	align-items: center;
	border-top: solid 2px #393333;
	margin-top: 25px;
}

.order-purchase-btn {
	color: white;
	font-family: Verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	display: flex;
	width: 508px;
	margin: 25px 0;
	padding: 18px 175px 18px 194px;
	justify-content: flex-end;
	align-items: center;
	border: none;
	border-radius: 3px;
	background: #16db99;
}
