body {
	margin: 0;
	font-family: 'Smythe', cursive;
	color: #000;
	-webkit-user-select: none;
	user-select: none;
}

header {
	color: #fff;
	background: url('./img/hero.png');
	height: 166px;
}

.add-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('./img/ellipse.png');
	background-size: 50px 50px;
}

.add-btn:hover,
.add-btn:active {
	cursor: pointer;
}

.add-btn p {
	color: #3c3c3c;
	text-align: center;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 200;
	line-height: 24px;
}

header h1 {
	font-size: 39px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	margin-top: 50px;
}

header p {
	font-size: 22.422px;
	line-height: 13.798px;
}

.main {
	max-width: 600px;
	max-height: 1300px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 20 auto;
	border: solid 4px #000;
	border-radius: 16px;
}

.container {
	margin: 0 46px;
}

.hero-img {
	width: 100%;
}

/* menu */

.menu-element {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.menu-item {
	padding: 30px 0;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 31px;
	border-bottom: solid #d2d2d2 1px;
}

.menu-item-details {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.menu-item-title {
	font-size: 28px;
	line-height: 16.8px;
	margin-bottom: 8px;
}

.menu-item-ingredients {
	font-size: 16px;
	color: #8b8b8b;
	line-height: 24px;
	margin-top: 2px;
	margin-bottom: 10px;
}

.menu-item-price {
	font-size: 20px;
	line-height: 24px;
	margin-top: 4px;
}

.align-right {
	margin: auto 0 auto auto;
}

/* order */

.order-element {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2px;
}

.order-header {
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
}

.order-row {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 45px;
	margin: 0 0;
	padding: 0 0;
}

.order-item-title {
	font-size: 28px;
	line-height: 16.8px;
}

.order-item-remove {
	color: #bbb;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-left: 12px;
	margin-bottom: 8px;
}

.order-price {
	margin: auto 0 auto auto;
	font-size: 20px;
	line-height: 24px;
}

.order-total-row {
	display: flex;
	justify-content: start;
	align-items: center;
	border-top: solid 2px #393333;
	margin-top: 25px;
}

.order-purchase-btn {
	color: white;
	font-family: Verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	display: flex;
	width: 508px;
	margin: 25px 0;
	padding: 18px 175px 18px 194px;
	justify-content: flex-end;
	align-items: center;
	border: none;
	border-radius: 3px;
	background: #16db99;
}

.order-purchase-btn:hover,
.order-purchase-btn:active {
	cursor: pointer;
}

/* modal */

.modal {
	display: none;
	font-family: Verdana;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 524px;
	height: 542px;
	border-radius: 4px;
	box-shadow: 0px 0px 6px 2px #666;
	background-color: #fff;
	color: #000;
}

.modal-inner {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.modal-inner h2 {
	margin-top: 46px;
	margin-bottom: 46px;
	font-size: 24px;
	line-height: 31px;
}

.payment-form {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

input,
.modal-btn {
	padding: 4px 16px 10px 16px;
	margin: 12px 20px;
	border-radius: 4px;
	flex-shrink: 0;
}

input {
	width: 442px;
	height: 55px;
	border: 1px solid #757575;
}

.modal-btn {
	height: 71px;
	width: 476px;
	margin-top: 30px;
	color: #fff;
	background: #16db99;
	color: var(--white, #fff);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 31px;
	border: none;
}

.modal-btn:hover,
.modal-btn:active {
	cursor: pointer;
}

.confirmation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	color: #065f46;
	font-size: 32px;
	margin-top: 45px;
	line-height: 16.8px;
	border-radius: 3px;
	background: #ecfdf5;
}

.hidden {
	display: none;
}
